In [149]:
import pandas as pd
import numpy as np

In [150]:
pd.__version__

'2.2.2'

In [151]:
df = pd.read_csv("laptops.csv")

In [152]:
df

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3060,17.3,No,2699.99
2156,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,2899.99
2157,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3399.99
2158,Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...,Refurbished,Razer,Book,Intel Evo Core i7,16,1000,SSD,NaN,13.4,Yes,1899.99
2159,Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...,Refurbished,Razer,Book,Intel Evo Core i7,16,256,SSD,NaN,13.4,Yes,1699.99

### Q2. Records count  
How many records are in the dataset?

In [153]:
df.shape[0]

2160

In [154]:
df.apply(lambda x: sum(x.isnull().values), axis = 0)

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int32

## Q3. Laptop brands
How many laptop brands are presented in the dataset?

In [155]:
df.Brand.nunique()

27

### Q4. Missing values  
How many columns in the dataset have missing values?

In [156]:
(df.isna().sum(axis=0) > 0).sum()

3

### Q5. Maximum final price
What's the maximum final price of Dell notebooks in the dataset?

In [157]:
df[df.Brand == 'Dell']['Final Price'].max()

3936.0

### Q6. Median value of Screen  
Find the median value of Screen column in the dataset.  
Next, calculate the most frequent value of the same Screen column.  
Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.  
Now, calculate the median value of Screen once again.

In [158]:
df.Screen.median()

15.6

In [159]:
df.Screen.mode()

0    15.6
Name: Screen, dtype: float64

In [160]:
df.Screen.isna().sum()

4

In [161]:
df.Screen = df.Screen.fillna(df.Screen.mode()[0])

In [162]:
df.Screen.isna().sum()

0

In [163]:
df.Screen.median()

15.6

### Q7. Sum of weights  
Select all the "Innjoo" laptops from the dataset.  
Select only columns RAM, Storage, Screen.  
Get the underlying NumPy array. Let's call it X.  
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.  
Compute the inverse of XTX.  
Create an array y with values [1100, 1300, 800, 900, 1000, 1100].  
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.  
What's the sum of all the elements of the result?

In [181]:
df["Screen"]

0       15.6
1       15.6
2       15.6
3       15.6
4       15.6
        ...
2155    17.3
2156    17.3
2157    17.3
2158    13.4
2159    13.4
Name: Screen, Length: 2160, dtype: float64

In [200]:
X = df[df.Brand.str.contains('Innjoo')][["RAM", "Storage", "Screen"]]

In [201]:
df[df.Brand.str.contains('Innjoo')]

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

In [202]:
X

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [205]:
XTX = X.T.dot(X)

In [206]:
XTX

            RAM   Storage    Screen
RAM       252.0    8320.0    559.80
Storage  8320.0  368640.0  17395.20
Screen    559.8   17395.2   1281.96

In [207]:
np.linalg.inv(XTX)

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [208]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [213]:
w = np.linalg.inv(XTX).dot(X.T).dot(y)

In [214]:
w

array([45.58076606,  0.42783519, 45.29127938])

In [215]:
w.sum()

91.29988062995633